body {
    min-height: 100vh;
    background-color: #fff0f5;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image: url("../img/hearts.avif");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;

    filter: blur(1px);
    opacity: 0.35;
}

/* Ajustes para celular */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, a, button {
        font-size: 1.1rem;
    }

    .navbar-brand {
        font-size: 1.3rem;
    }
}