{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'elementos/css/styles.css' %}">
<div class="text-center mb-4">
    <h2>📬 Cartas</h2>
    <h4 class="text-muted">{{ total_cartas }} cartas guardadas</h4>

    <a href="{% url 'elementos:lista_cartas' %}" class="btn btn-secondary mt-3">
        Ver cartas
    </a>
</div>

<div class="contenedor-boton">
    <a href="{% url 'elementos:collage' %}">
        <button class="btn-momentos">Nuestros momentos ❤️</button>
    </a>
</div>

<hr class="my-5">

<h4>📝 Notitas de Efra para Abi</h4>

<div class="card p-3 mb-4 shadow-sm">
    <h5 class="mb-3">💌 Dejar notita a efra</h5>

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-2">
            <textarea 
                name="cuerpo" 
                class="form-control"
                placeholder="Escribe algo bonito..."
                rows="3"
                required></textarea>
        </div>

        <div class="mb-2">
            <input 
                type="password" 
                name="password" 
                class="form-control"
                placeholder="Contraseña"
                required>
        </div>

        <button class="btn btn-primary w-100">
            Enviar 💕
        </button>
    </form>
</div>

<div class="d-flex gap-3 flex-wrap">
    {% for nota in notas %}
        <div class="nota {% if nota.autor == 'Abi ❤️' %}nota-ella{% else %}nota-efra{% endif %}">
            <p>{{ nota.cuerpo }}</p>
            <small class="autor">— {{ nota.autor }}</small>
            <small class="fecha">{{ nota.creada|date:"H:i d/m" }}</small>
        </div>
    {% empty %}
        <p>No hay notas.</p>
    {% endfor %}
</div>

<div class="text-center mt-4">
    <button id="btnSanValentin" class="btn-san-valentin">
        💌 Tengo algo para ti
    </button>
</div>




{% endblock %}
