<div id="modalSan" class="modal-san">
    <div class="modal-contenido">
        <h2>💘 Tengo que preguntarte algo...</h2>

        <p style="font-size: 20px;">
            ¿Quieres ser mi San Valentín?
        </p>

        <a
          href="https://wa.me/5216624006571?text=Sí%20quiero%20ser%20tu%20San%20Valentín%20💖"
          target="_blank"
          class="btn-san-valentin"
        >
            Responder💚
        </a>

        <br><br>

        <button onclick="cerrarSan()"
            style="background:none; border:none; color:#777;">
            Cerrar
        </button>
    </div>
</div>
